## Settings file was created by plugin SRHKPlugin v2.0.0
## Plugin GUID: SRHKPlugin

[Features]

## adds a new, cheatier, cheat bar
# Setting type: Boolean
# Default value: true
Cheatier = true

## setting to false prevents patching
# Setting type: Boolean
# Default value: true
EnableOverrideStartingKarma = true

## -1 also disables even with the feature enabled, but still patched
# Setting type: Int32
# Default value: 60
OverrideStartingKarma = 60

## makes some of the longer treks not so bad
# Setting type: Boolean
# Default value: true
AlwaysBeSprinting = true

## 20 fits nicely, you should see my fix for DF lol
# Setting type: Boolean
# Default value: true
MaxAttributes20 = true

## overrides the call to GetDerivedEssence... free cyberware!
# Setting type: Boolean
# Default value: true
NoCostCyberware = true

EnabledFeatures = MaxAttributes20,NoCostCyberware,OverrideStartingKarma

